body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif
  color: #40514E;
}

h1 {
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
  /* line-height: 2; */
}

h2 {
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
  color: #66BFBF;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

hr{
  /* border-top: dotted; */

  /* border-width: 5px 0 0 0; */

  border: dotted #EAF6F6 6px;
  border-bottom: none;
  /* color: #EAF6F6; */
  width: 4%;
  margin: 100px auto;
}
p{
  line-height: 2;
}
a{
  color: #11999E;
  text-decoration: none;
  /* margin-right: 2rem; */
  /* left and right margin */
  margin: 10px 20px;
  font-family: 'Montserrat', sans-serif;
}

a:hover{
  color: #EAF6F6;
}
/* div{
  background-color: #FFF6EA;

} */
.top-container {
  background-color: #FFF6EA;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px;

}

.copyrigth{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding-top: 20px 0;
}
.skill-row{
  width: 50%;
  margin: 100px auto;
  text-align: left;
  font-family: sans-serif;
}



.pro {
  text-decoration: underline;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.me {
  height: 150px;
  width: 150px;
}
.intro{
  color: #40514E;
  width: 30%;
  /* its now center */
  margin: auto;
}



.terrarium{
  width: 25%;
  float: left;
  margin-right: 30px;
}
/* .pone{
  clear: left;
} */
.cam {
  height: 150px;
  width: 150px;
  width: 25%;
  float: right;
  margin-right: 30px;
}
/* .ptwo{
  clear: right;
} */
.contact-message{
  width: 40%;
  margin: 40px auto 60px;
}

.btn {
  background: #11999E;
  background-image: -webkit-linear-gradient(top, #11999E, #66BFBF);
  background-image: -moz-linear-gradient(top, #11999E, #66BFBF);
  background-image: -ms-linear-gradient(top, #11999E, #66BFBF);
  background-image: -o-linear-gradient(top, #11999E, #66BFBF);
  background-image: linear-gradient(to bottom, #11999E, #66BFBF);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #C1F4C5;
  background-image: -webkit-linear-gradient(top, #C1F4C5, #BFFFF0);
  background-image: -moz-linear-gradient(top, #C1F4C5, #BFFFF0);
  background-image: -ms-linear-gradient(top, #C1F4C5, #BFFFF0);
  background-image: -o-linear-gradient(top, #C1F4C5, #BFFFF0);
  background-image: linear-gradient(to bottom, #C1F4C5, #BFFFF0);
  text-decoration: none;
}
